*{
    font-family:  quicksand;
   margin:0px;
   padding: 0px;
}

#navigationmenu
{
    background: rgba(0, 0, 0, 0.5);
    width:100%;
    height:12%;
   position: fixed;
   
    
}

ul {
    list-style-type: none;
     margin:0;
     padding: 0;
      overflow: hidden;
      float:right;
      padding-right:7%;   
 }
 li { 
     padding-top: 10px;
     float: left; 
     
 }
 
 li a {
    color:white;
    padding-right: 40px;
    text-decoration: none; 
    margin-top: 4%;
   font-size: 20px;
      
 }